.teams-section{
  margin: auto;
  margin-top: 15px;
  width: 450px;
  background-color: $mainWhite;
  border: 1px solid $borderGrey;


  &__heading-top{
    border-bottom: 1px solid $borderGrey;
    overflow: hidden;
    clear: both;
    padding: 10px;
    font-family: arial, sans-serif, helvetica;
    font-size: 0.9375rem;
    background-color: $mainGrey;
  }

  &__sub-headings{
    padding: 10px;
    font-family: arial, sans-serif, helvetica;
    overflow: hidden;
    clear: both;

    img{
      float: left;
      margin-right: 10px;
      clear: both;
      overflow: hidden;
    }
  }
  &__datetime{
    text-align: center;
    font-weight: bold;
    font-size: 0.9375rem;
    color: $subHeadings;
    margin-bottom: 30px;
  }

  &__team1{
    border-bottom: 1px solid $mainGrey;
    padding-top: 5px;
    clear: both;
  }
  &__team2{
    border-bottom: 1px solid $mainGrey;
    padding-top: 15px;
  }
  &__team-name{
    margin-bottom: 20px;
    font-size: 0.9375rem;
    color: #484847;
  }

  &__left-col{
    float: left;
    color: #484847;
  }

  &__right-col{
    float: right;
    color: $subHeadings;
    overflow: hidden;
  }

  &__scores{
    float: right;
    font-size: 1.1rem;
  }

  &__leading{
    text-align: center;
    clear: both;
    overflow: hidden;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  &__leading-heading{
    font-size: 0.9375rem;

    &--final-lead{
      font-size: 1rem;
      color: $subHeadings;
    }
  }


  &--wongame{
    color: $leadingScore;
  }


}
